<h1>Bienvenido, {{ current_user.username }}</h1>
<h2>Mis Cursos</h2>
<p>Total: {{ courses|length }}</p>

<a href="{{ url_for('logout') }}">Cerrar sesión</a>
<link rel="stylesheet" href="{{ url_for('static', filename='css/instructor_dashboard.css') }}">


{% if courses %}
    <ul>
        {% for course in courses %}
            <li>
                <strong>{{ course.title }}</strong> - {{ course.description }}
                <br>
                <!-- Enlace para editar el curso -->
                <a href="{{ url_for('edit_course', course_id=course.id) }}">Editar Curso</a>
                <!-- Enlace para gestionar el curso -->
                </br>
                <a href="{{ url_for('manage_course', course_id=course.id) }}">Gestionar Curso</a>
               
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tienes cursos creados aún.</p>
{% endif %}

<!-- Enlace para crear un nuevo curso -->
<a href="{{ url_for('create_course') }}">Crear Curso</a>
