<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Curso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/instructor_manage.css') }}">

</head>
<body>
    <h1>Gestionar Curso: {{ course.title }}</h1>
    <p>{{ course.description }}</p>

    <h2>Módulos del Curso</h2>
    {% if course.modules %}
        <ul>
            {% for module in course.modules %}
                <li>
                    <strong>{{ module.title }}</strong>
                    <ul>
                        {% for content in module.content_items %}
                            <li>
                                <p><strong>{{ content.title }}</strong></p>
                                <a href="{{ url_for('edit_content', content_id=content.id) }}">Editar</a>
                                <form action="{{ url_for('delete_content') }}" method="POST" style="display: inline;">
                                    <input type="hidden" name="content_id" value="{{ content.id }}">
                                    <button type="submit" onclick="return confirm('¿Estás seguro de eliminar este contenido?');">Eliminar</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{{ url_for('create_content', course_id=course.id, module_id=module.id) }}">Añadir Contenido</a>
                    <form action="{{ url_for('delete_module', course_id=course.id, module_id=module.id) }}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este módulo?');">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                    
                </li>
                
            {% endfor %}
        </ul>
        
    {% else %}
        <p>No hay módulos en este curso</p>
    {% endif %}
    
    <a href="{{ url_for('create_module', course_id=course.id) }}">Crear Módulo</a>
    <div>
    <form action="{{ url_for('manage_course', course_id=course.id) }}" method="POST">
        <button type="submit" onclick="return confirm('¿Estás seguro de eliminar este curso?');">Eliminar Curso</button>
    </form>
    </div> 
    <a href="{{ url_for('instructor_dashboard') }}">Volver al Dashboard</a>
</body>
</html>
