{% extends "instructor/instructor_dashboard.html" %}

{% block title %}Crear Nuevo Curso{% endblock %}

{% block content %}
<h1>Crear Nuevo Curso</h1>
<form method="POST">
    <label for="title">Título del Curso</label>
    <input type="text" id="title" name="title" required>
<br>
    <label for="description">Descripción</label>
<br>
<div>     
    <textarea id="description" name="description" required></textarea>
</div>
<br>
    <button type="submit" class="btn">Crear Curso</button>
</form>
{% endblock %}
