<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage_courses.css') }}">
    <title>Administrar Cursos</title>
</head>
<body>
    <a href="{{ url_for('admin_dashboard') }}" class="btn back">Volver al Inicio</a>

    <h1>Administrar Cursos</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre del Curso</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.title }}</td>
                    <td>{{ course.description }}</td>
                    <td>
                        <a href="{{ url_for('view_course', course_id=course.id) }}" class="btn btn-info">
                            <i class="fa fa-eye"></i> Ver
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No hay cursos disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
